<a href="https://colab.research.google.com/github/ZiolesXy/DataAnalytic/blob/main/DataAnalyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import pandas
import pandas as pd

#membuat dataframe dari directory
data = {'nama': ['john', 'anna', 'peter', 'linda'],
        'usia': [28, 35, 40,32],
        'kota': ['New York', 'Paris', 'berlin', 'London']}

#Memuat data ke dalam database
df = pd.DataFrame(data)

#menampilkan DataFrame
df.head()

In [2]:
import pandas as pd

In [3]:
std = pd.read_csv("student_data.csv")

In [5]:
new_data = {'Name':['Aldi', 'Tika', 'Michael Jung', 'Ronald', 'Dirone'],
            'Group':['A', 'B', 'A', 'A', 'C'],
            'Height':[147, 150, 148, 139, 300],
            'Weight':[47, 39, 42, 45, 36]
            }

new_dataframe = pd.DataFrame(new_data)
std = std._append(new_dataframe, ignore_index = True)

In [ ]:
std

In [ ]:
std["Math_Score"] = (std["Maths_Test_Score"]+std["Maths_Quiz_Score"]+std["Maths_Assignment_Score"])/3
std["Math_Score"]

In [ ]:
std.head(3)

In [ ]:
std.size

In [ ]:
std["Name"]

In [ ]:
std.loc[3,["Name", "Group", "Height"]]

In [ ]:
std[
    (std["Group"]=="A") & (std["Height"]>160)
    ]

In [ ]:
Nama = std.groupby(['Group'])['Name'].count().reset_index()
Nama

In [ ]:
TB = std.groupby(['Group'])['Weight'].sum().reset_index()
TB

In [ ]:
AVGS = std.groupby(['Group'])['Maths_Quiz_Score'].mean().reset_index()
AVGS

In [ ]:
NMAX = std.groupby(['Group'])['Weight'].max().reset_index()
NMAX

In [ ]:
NMIN = std.groupby(['Group'])['Weight'].min().reset_index()
NMIN

In [ ]:
RataRataUjianSciente = std.groupby(['Group'])['Science_Assignment_Score'].mean().reset_index()
RataRataUjianSciente

In [ ]:
RataRataUjianMtkB = std.groupby(['Group'])['Maths_Assignment_Score'].min().loc['B']
RataRataUjianMtkB

In [ ]:
std.tail(10)

In [ ]:
std = std.drop("Math_Score",axis=1)
std.columns

In [6]:
std = std.drop(303)
std.tail()

,Name,Group,Height,Weight,Date_of_Birth,Maths_Test_Score,Maths_Quiz_Score,Maths_Assignment_Score,Science_Test_Score,Science_Quiz_Score,Science_Assignment_Score,Literature_Test_Score,Literature_Quiz_Score,Literature_Assignment_Score
299,William Foster,B,153.790174,90.010683,2004-05-18,32.0,73.0,60.0,24.0,62.0,15.0,62.0,13.0,30.0
300,Aldi,A,147.000000,47.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,Tika,B,150.000000,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,Michael Jung,A,148.000000,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,Dirone,C,300.000000,36.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN