<a href="https://colab.research.google.com/github/ZiolesXy/DataAnalytic/blob/main/DataAnalyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import pandas
import pandas as pd

#membuat dataframe dari directory
data = {'nama': ['john', 'anna', 'peter', 'linda'],
        'usia': [28, 35, 40,32],
        'kota': ['New York', 'Paris', 'berlin', 'London']}

#Memuat data ke dalam database
df = pd.DataFrame(data)

#menampilkan DataFrame
df.head()

In [9]:
std = pd.read_csv("student_data.csv")

In [ ]:
std.head(3)

In [ ]:
std.size

In [11]:
std["Name"]

0          Alan Ferrell
1        Lindsay Coffey
2      Mitchell Bennett
3           Dawn Porter
4           Ashley Huff
             ...
295       Shannon Hardy
296    Christopher Ware
297    Christina Thomas
298        Mark Esparza
299      William Foster
Name: Name, Length: 300, dtype: object