<a href="https://colab.research.google.com/github/ZiolesXy/DataAnalytic/blob/main/DataAnalyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import pandas
import pandas as pd

#membuat dataframe dari directory
data = {'nama': ['john', 'anna', 'peter', 'linda'],
        'usia': [28, 35, 40,32],
        'kota': ['New York', 'Paris', 'berlin', 'London']}

#Memuat data ke dalam database
df = pd.DataFrame(data)

#menampilkan DataFrame
df.head()

In [ ]:
import pandas as pd

In [ ]:
std = pd.read_csv("student_data.csv")

In [ ]:
std

In [ ]:
std.head(3)

In [ ]:
std.size

In [ ]:
std["Name"]

In [ ]:
std.loc[3,["Name", "Group", "Height"]]

In [ ]:
std[
    (std["Group"]=="A") & (std["Height"]>160)
    ]

In [ ]:
Nama = std.groupby(['Group'])['Name'].count().reset_index()
Nama

In [ ]:
TB = std.groupby(['Group'])['Weight'].sum().reset_index()
TB

In [ ]:
AVGS = std.groupby(['Group'])['Maths_Quiz_Score'].mean().reset_index()
AVGS

In [ ]:
NMAX = std.groupby(['Group'])['Weight'].max().reset_index()
NMAX

In [ ]:
NMIN = std.groupby(['Group'])['Weight'].min().reset_index()
NMIN

In [ ]:
RataRataUjianSciente = std.groupby(['Group'])['Science_Assignment_Score'].mean().reset_index()
RataRataUjianSciente

In [ ]:
RataRataUjianMtkB = std.groupby(['Group'])['Maths_Assignment_Score'].min().loc['B']
RataRataUjianMtkB

In [ ]:
new_data = {'Name':['Aldi', 'Tika', 'Michael Jung', 'Ronald'],
            'Group':['A', 'B', 'A', 'A'],
            'Height':[147, 150, 148, 139],
            'Weight':[47, 39, 42, 45]
            }

new_dataframe = pd.DataFrame(new_data)
std = std._append(new_dataframe, ignore_index = True)