<a href="https://colab.research.google.com/github/ZiolesXy/DataAnalytic/blob/main/DataAnalyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import pandas
import pandas as pd

#membuat dataframe dari directory
data = {'nama': ['john', 'anna', 'peter', 'linda'],
        'usia': [28, 35, 40,32],
        'kota': ['New York', 'Paris', 'berlin', 'London']}

#Memuat data ke dalam database
df = pd.DataFrame(data)

#menampilkan DataFrame
df.head()

In [27]:
import pandas as pd

In [ ]:
std = pd.read_csv("student_data.csv")

In [ ]:
std.head(3)

In [ ]:
std.size

In [ ]:
std["Name"]

In [ ]:
std.loc[3,["Name", "Group", "Height"]]

In [ ]:
std[
    (std["Group"]=="A") & (std["Height"]>160)
    ]

In [ ]:
std.groupby(['Group'])['Name'].count().reset_index()